@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

.icon{
  color: var(--primaryDark)
}

@layer base{
  body{
    @apply font-[Poppins]
  }

  button{
    @apply p-3 border bg-gradient-to-r from-[var(--primaryDark)] to-[var(--primaryLight)] text-white rounded-[10px]
  }
  .icon{
    @apply text-2xl cursor-pointer 
  }
}

:root{
  --primaryDark: #5651e5;
  --primaryLight: #709dff;
}